.loader-bg {
    position: fixed;;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    z-index: 3;
    background: black;
    opacity: 0.3;

    .mat-spinner {
        width: 100px;
        height: 100px;
        position: absolute;
        left: 50%;
        top: 45%;
    }
}